html {
    min-height: 100%;
}

body {

    font-family: "Lora", sans-serif;

    background-color: #000000;
    color: #362b54;

    overflow-x: hidden;

    -ms-overflow-style: none; /* ## no scrollbar for IE & Edge (keeps functionality tho!) */
    scrollbar-width: none; /* ## no for firefox */

}

.body::-webkit-scrollbar {
    display: none; /* ## no for chrome safari opera */
}

/* ## shoutout to w3schools for that scrollbar code! <3 */
/* hopefully this works cuz im on vivaldi so i have no idea!!!!! */

.hidden {

    display: none;

}

.ascii {

    font-family: monospace;
    white-space: pre;
    text-align: left;
    font-size: 18px;
    color: rgb(234, 196, 251);

    height: 100vh;
    align-items: center;
}

#ascii-anim {

    display: flex;
    justify-content: center;

}

#ascii-face {

    display: flex;
    justify-content: center;

}

#ascii-face:hover {

    cursor: pointer;

}

#text-entry {

    color: rgb(198, 245, 219);
    text-wrap: wrap;

}

#block-cursor {

    color: rgb(198, 245, 219);

}

h1 {
    color: #534678;
    font-size: 64px;
}

.across {
    border: 1px solid #362b54;
}