html {
    min-height: 100%;
}

body {

    font-family: "Lora", sans-serif;

    background-color: #000000;
    color: #362b54;

    overflow: hidden;

}

.hidden {

    display: none;

}

.ascii {

    font-family: monospace;
    white-space: pre;
    text-align: left;
    font-size: 18px;
    color: rgb(234, 196, 251);

    height: 100vh;
    align-items: center;
}

#ascii-art {

    display: flex;
    justify-content: center;

}

#ascii-art:hover {

    cursor: pointer;

}

#text-entry {

    color: rgb(198, 245, 219);

}

#block-cursor {

    color: rgb(198, 245, 219);

}

h1 {
    color: #534678;
    font-size: 64px;
}

.across {
    border: 1px solid #362b54;
}