/* style the body block (a.k.a the entire webpage) */
body {

    font-family: "Lora", sans-serif;
    background-color: #121212;
    color: #f0f0f0; /* specifically, text color! */
    text-align: center; /* this centers all of our text */
    padding-top: 50px; /* this spaces the body 50 pixels from the top */

}

/* style each heading individually T_T */
h1 {

    color: #b6ff00;
    font-size: 36px;

}

h2 {

    color: #ff00f0;
    font-size: 30px;

}

h3 {
    
    color: #0026ff;
    font-size: 24px;

}

/* style our paragraphs */
p {

    font-size: 18px;
    line-height: 1.5;

}

/* these are unique paragraph ids! they allow me to customize the style of those specific paragraph blocks! */

.pID1 {

    text-align: left;

}

.pID2 {

    text-align: right;

}

.pID3 {

    color: hotpink;

}

/* add the spacer */
.spacer {
    height: 600px;
}

/* style buttons */
button {

    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: mediumvioletred; /* changes the color of the text inside the button */
    border: none; /* adds (or in this case, removes) the border from buttons */
    cursor: pointer; /* changes the cursor's look when it hovers over the button */

}

button:hover {
    background-color: #eeeeee; /* makes the background color slightly darker when being hovered over */
}

/* these are the page structure thingies! */

.header {
    background-color: firebrick;
}

.stuff {
    display: flex; /* ig this is important */
    gap: 10px;
}

.left-panel, .right-panel {
    width: 200px;
    background-color: wheat;
    padding: 10px;
}

.middle-panel {
    flex: 1;
    background-color: aquamarine;
    color: black;
    padding: 20px;
}

.footer {
    margin-top: 10px;
    background-color: fuchsia;
    color: black;
    padding: 10px;
}